{%extends 'base.html'%}

{%block body_block%}
<div class="container d-flex justify-content-center mt-5">

  <div class="card" style="width: 30rem;">
      <div class="card-header">
        EmployeeDetail
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{data.name}}</li>
        <li class="list-group-item">{{data.department}}</li>
        <li class="list-group-item">{{data.salary}}</li>
        <li class="list-group-item">{{data.age}}</li>
        <li class="list-group-item">{{data.email}}</li>
        <li class="list-group-item">{{data.contact}}</li>

      </ul>
    </div>
</div>


{%endblock%}


